@import '_valaiable';

h1 {
    color: $red_color;
}
h2 {
    color: $red_color;
}

.course-item {
    margin-top: 16px;
}

.checkbox-select-all-option {
    display: block;
    height: 30px;
    margin: 0 16px;
}